:root {
    --containerColor: rgb(162, 216, 247);
    --linkColor: rgb(82, 80, 80);;
}
html, body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


h1 {
    font-size: 1.4em;
    text-align: center;
    margin: 25px 0 25px 0;
}

h2 {
    font-size: 1.2em;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
}

h3 {
    font-size: 1em;
    margin-bottom: 15px;
}

p, span {
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: var(--linkColor);
    font-weight: 600;
    display: inline-block;
}

.container {
    width: 94%;
    margin: 0 auto 15px;
    padding: 10px;
    background-color: var(--containerColor);
}

.sub__container {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sub__container h3 {
    flex: 0 0 100%;
    height: 1em !important;
}

/* TRANSFORMS */

/*Rotate*/
.rotate, 
.translate, 
.skew, 
.multiple
/*.transition__container*/ {
    width: 17%;
    padding: 7% 0;
    text-align: center;
    border: 2px solid rgb(20, 104, 200);
}

.rotate-thirty-five {
    -webkit-transform: rotate(25deg);/*Vendor prefixe to Chrome, Safari and Opera*/
    -moz-transform: rotate(25deg);/*Vendor prefixe to Firefox*/
    -o-transform: rotate(25deg);/*Vendor prefixe to Opera10.5*/
    -ms-transform: rotate(25deg); /*Vendor prefixe to IE */
    transform: rotate(25deg);
}

.rotate-ahoundred-eighty {
    -webkit-transform: rotate(180deg);/*Vendor prefixe to Chrome, Safari and Opera*/
    -moz-transform: rotate(180deg);/*Vendor prefixe to Firefox*/
    -o-transform: rotate(180deg);/*Vendor prefixe to Opera10.5*/
    -ms-transform: rotate(180deg); /*Vendor prefixe to IE */
    transform: rotate(180deg);
}

.rotate-negative-degrees {
    -webkit-transform: rotate(-90deg);/*Vendor prefixe to Chrome, Safari and Opera*/
    -moz-transform: rotate(-90deg);/*Vendor prefixe to Firefox*/
    -o-transform: rotate(-90deg);/*Vendor prefixe to Opera10.5*/
    -ms-transform: rotate(-90deg); /*Vendor prefixe to IE */
    transform: rotate(-90deg);
}
/*The transform property has a function to rotate any element we want, this function is called rotate and to work with it you need to put a number follow by the word deg inside parentheses, the valous you insert move the element in the clock direction and if you put negative values you move the element to the left direction*/

/*Scale*/
.normal-scale {
    width: 80px;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    border: 2px solid rgb(20, 104, 200);
}

.scale-two {
    transform: scale(2);
}

.scale-half {
    transform: scale(0.5);
}
/*The scale function growth any element applied, the num inside it multiply the size of the element, 2 is the double and 0.5 is the half size.
When the size element is modify by scale not only the element itself is modify but the elements inside it are too*/

/*It is posible to resize the vertical and horizontal dimensions differently using scale(x, y)*/
.scale-x-y {
    transform: scale(1, 2);
}
/*In the previous example, the first value refers to the horizontal size and the second value modify the vertical size (x, y)*/

/*In case you just want to resize one axis, either x or y, you can use scaleX() or scaleY()*/
.scale-x {
    transform: scaleX(1.4);
}

.scale-y {
    transform: scaleY(1.4);
}

/*Before finish, there's another value you which you can work with scale, this is a negative number, if you put a negative number you flip around the element*/
.scale-flip {
    transform: scale(-1);
} /*Here you flip-around the horizonta and vertical axis, but to just flip the x axis or the y one we write the next values:*/

.scale-flip-x {
    transform: scaleX(-1);
}

.scale-flip-y {
    transform: scaleY(-1);
}

/*Note.Eighter rotate and scale are function that modify the size and position of an element, this modification can overlap other elements*/

/*Translate*/
/*This function moves an element from its current position, either right and left or up and down*/
/*Example: Moving and element 2px to the left and 3px to down when the mouse pass over it*/
.translate:hover {
    transform: translate(2px, 3px);
} /*Here the firts value represent the movement in direction right-left and the second value represent the movement from up-down, if we put negative values we move the element to the left and to the up repectively*/

/*You can also provice a translate value for the horizontal or vetical movement, like follow:*/
.translate-x:hover {
    transform: translateX(5px);
}

.translate-y:hover {
    transform: translateY(5px)
}

/*Note. When you move and element with the trasnlate function, the browser not interpret this movement, this means that although the element was move with this function the original space where this should be stays there. Other point is that you can use any value in the function: em, px, porcentages, etc.*/

/*Skew*/
/*The skew function lets you slant the horizontal and vertical axels in an element, this can give an element a three dimensional feel*/

/*For example: To slant the horizontal axel to 45 degrees we need to provide just the firts value, the second one is the vertical, so the horizontal values can take 0 to 360 degrees and this values  move the vertical lines of the element to the left*/
.skew-x {
    transform: skew(45deg, 0)
} /*Here we have an object with its vertical lines pointed to the left direction, while the degrees increase the vertical lines moves more to the left*/

/*On the other hand the second value moves the horizontal lines of an element to the right direction, while the degrees increase the horizontal lines move more to the right*/
.skew-y {
    transform: skew(0, 45deg);
}

/*Also we can work with the two directions:*/
.skew-x-y {
    transform: skew(25deg, 50deg);
}

/*Multiple transformations*/
/*It is possible to apply multiple transformations at the same time, you just need to write each function separetely by a space like follow:*/
.rotate-scale {
    transform: rotate(45deg) scale(1.5);
}
/*The order that the functions are written is the order the browser apply the functions, this doesn't matter so much, except when we use the translate function. We have two examples below to see de differences: */

.rotate-translate { 
    transform: rotate(45deg) translate(10px, 15px);
} /*Here we applied first the rotate function, so the element is rotated and then it is moved according to the directions pointed by the horizontal and vertical axis, here we applied 45 degrees to the right, so the bottom ends pointed a little to the left and the right side ends pointed a little to the right, so the first value in the translate function moves the element to the right due to the left side is pointing to this direction and the second value moves the element to the left due to the bottom is pointing to that side. */

.translate-rotate {
    transform: translate(10px, 15px) rotate(45deg);
}
/*On the onther hand if we first applied the translate function, the result is that the rotation is applied where the element is moved, for example if we move it to the right, then the rotation is applied in that position of the web page.*/

/*Origin*/
/*With the transform-origin property it is possible to move the point where the transform functions are rotate, scale or skew.
Normally this propeties take the center of the element to apply their function, but with origin we can move that point to another position out of the center*/
/*Example rotating elements:*/
/*Center*/
.center {
    transform: rotate(35deg);
} /*The result is normal, since the point took by the rotate function is the center from there moves 35 degrees to the right*/

/*left-top*/
.left-top {
    transform-origin: left top;
    transform: rotate(35deg);
} /*Here the point is in the left-top of the element, so it moves 35 degrees to the right from there*/

/*right-bottom*/
.right-bottom {
    transform-origin: right bottom;
    transform: rotate(35deg);
} /*and here the rotate moves from the right and bottom position fo the element.*/

/* TRNSITIONS */
.transition__container {
    width: 100%;
}

.btn__transition {
    border: 2px solid rgb(241, 226, 14);
    padding: 18px 10px;
    background-color: rgb(239, 164, 80);
    transition-property: color, background-color; /*Here we define the properties to be animated, we can use the word all to animate all properties that makes a change*/
    transition-duration: 2s; /*This is the time that the animation is going to take to be finish, we can use seconds(s) and milliseconds(ms)*/
} /*Normally the transition is defined in the default design*/

.btn__transition:hover {
    background-color: rgb(230, 104, 21);
    color: #fff;
}
/*In the previous example we have animate a button when the visitor mouses over it, the transition effect can work with fou properties:
    *Transition-property: Define the property where the animation is going to be applied.
    *Transition-duration: Represents the time that is going to take the animation.
    *Transition-timing-function: Defines the type of animation used.
    *Transition-delay: This declared a space of time before starting the animation.
*/

/*Transition timing function*/
.btn__timing {
    border: 2px solid rgb(241, 29, 14);
    padding: 18px 10px;
    margin-bottom: 15px;
    background-color: rgb(236, 213, 186);
    display: block;
    width: 100px;
    transition-property: all;
    transition-duration: 1.5s;
}

.ease {
    transition-timing-function: ease; /*This i the default value, begins the animation slow, speeds up in the middle and slows down at the end*/
}

.ease-in {
    transition-timing-function:ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.linear {
    transition-timing-function: linear; /*This value provie an a stedy change alogn the entire length*/
}

.bazier {
    transition-timing-function:cubic-bezier(0.36, 1.1, 0.37, 1.15); /*The cubic-bezier value works as a line where is steeper is gets the move quickly and if is flatter gets slower (steeper: empinado, flatter: plano)*/
}

.btn__timing:hover {
    transform: translateX(100px);
}
/*Note. As the duration property, the timing function also can declare one animation to every property.*/